.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .button {
    width: 200px;
    height: 100px;
    background-color: #eaeaea;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .button span {
    font-size: 18px;
  }
  